# .NET Core and Visual Studio files
*.dll
*.exe
*.pdb
*.user
*.suo
*.cache
*.log
.vs/
.vscode/
bin/
obj/
TestResults/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/
**/Properties/launchSettings.json

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
*.[Oo]bj
*.[Ll]og
msbuild.log
msbuild.err

# Visual Studio code coverage results
*.coverage
*.coveragexml

# NCrunch
*.ncrunch*
.*crunch*.local.xml

# Installshield output folder
[Ee]xpress/

# Doc project output folder
[Dd]oc/[Hh]elp

# Build outputs
out/

# Razor precompiled views
*.PrecompiledViews.dll
